In [ ]:
import numpy as np

In [ ]:
#Conocemos el tipo de dato con dtype
arr = np.array([1,2,3,4])
arr.dtype

dtype('int64')

In [ ]:
arr = np.array([1,2,3,4], dtype='float64')
arr.dtype

dtype('float64')

In [ ]:
arr

array([1., 2., 3., 4.])

In [ ]:
#Si los datos ya se encuentran en tipo entero podemos hacer lo siguiente
arr

array([1, 2, 3, 4])

In [ ]:
arr = arr.astype(np.float64)
arr

array([1., 2., 3., 4.])

In [ ]:
#Recordemos que el bool tiene dos datos. En este caso el 0 = False y n>0 = True
arr = np.array([0,1,2,3,4])
arr = arr.astype(np.bool_)
arr

array([False,  True,  True,  True,  True])

In [ ]:
arr = np.array([0,1,2,3,4])
arr = arr.astype(np.string_)
arr

array([b'0', b'1', b'2', b'3', b'4'], dtype='|S21')

In [ ]:
arr = np.array(['0','1','2','3','4'])
arr = arr.astype(np.int8)
arr

array([0, 1, 2, 3, 4], dtype=int8)

In [ ]:
arr = np.float_([0,1,2,3,4])
arr

array([0., 1., 2., 3., 4.])